@import "mocha.css";

* {
    /* font-family: "MesloLGS Nerd Font Mono Bold"; */
    /* font-family: "FiraCode Nerd Font"; */
    all: unset;
    font-family: "JetBrainsMono Nerd Font Mono";
    font-size: 13px;
    min-height: 0;
    font-weight: bold;
    transition: none;
    border: none;
}

window#waybar {
    background: black;
    padding: 0 12px;
    /* color: @overlay0; */
    /* transition-property: background-color; */
    /* transition-duration: 0.1s; */
    /* border-bottom: 1px solid @overlay1; */
}

window#waybar.background>box {
    padding: 0 10px;
}

#window {
    margin: 8px;
    padding-left: 8px;
    padding-right: 8px;
}

button {
    /* box-shadow: inset 0 -3px transparent; */
    border: none;
}

/**/
/* button:hover { */
/*     background: inherit; */
/*     color: @mauve; */
/*     border-top: 2px solid @mauve; */
/* } */

#workspaces {
    padding: 2px 0;
}

#workspaces button:hover {
    border: none;
    color: #fff;
}

#workspaces button {
    /* margin: 4px; */
    padding: 0 5px;
    /* background-color: rgba(0, 0, 0, 0.7); */
    background-color: #333;
    color: rgba(255, 255, 255, 0.3);
    border: none;
    border-radius: 0;
}

#workspaces button.focused {
    background-color: rgba(255, 0, 0, 0.9);
    color: white;
}

#workspaces button.active {
    background-color: rgba(255, 0, 0, 0.9);
    color: white;
    text-shadow: 0 1px 0 #000;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#clock,
#cpu,
#network,
#volume,
#pulseaudio,
#upower {
    color: #fff;
}

#cpu {
    color: red;
    background-color: blue;
}

#cpu label {
    padding-left: 4px;
    padding-right: 4px;
}

#cpu label:last-child {
    color: white;
}
